{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
<h1>Dashboard</h1>
<div class="row">
      <div class="col-md-12">
    	<h3>Unapproved Donors</h3>
      	<table class="table table-bordered">
        <thead>
			     <tr>
            	<th>Username</th>
              <th>Approve/Decline</th>
            	<th>Blood Type</th>
          	</tr>
        </thead>
       {% for donor  in donors %}
        <tbody>
			     <tr>
              <td>{{ donor.name }}</td>
              <td><button class="btn btn-info"><a href="{% url 'approve_donor' donor.id %}">Approve Donor</a></button></td>
              <td>{{ donor.blood_type }}</td>
            </tr>
        </tbody>
        {% endfor %}
      	</table>
		</div>
    	</div>

<div class="row">
      <div class="col-md-12">
      <h3>Approve Donations</h3>
        <table class="table table-bordered">
        <thead>
           <tr>
              <th>Username</th>
              <th>Approve</th>
              <th>Blood Type</th>
            </tr>
        </thead>
       {% for potential in potential_donors %}
        <tbody>
           <tr>
              <td>{{ potential.name }}</td>
              <td><button class="btn btn-info"><a href="{% url 'approve_donation' potential.id %}">Approve Donated</a></button></td>
              <td>{{ potential.blood_type }}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
    </div>
      </div>

</main>

{% endblock %}